<div class="search-bar-wrapper">
    <input class="search-bar-input" type="search" @oninput="HandleOnInput" @onblur="HandleOnBlur" />
    @if (!isHidden)
    {
        <ul class="search-bar-dropdown">
            @foreach (string item in resultList)
            {
                <li>@item</li>
            }
        </ul>
    }
</div>
