@page "/accounts"

@using crm.Shared.Component.SearchBar

<PageTitle>Accounts</PageTitle>

<h1>Accounts</h1>

<SearchBar OnAutoCompleteChanged="OnAutoCompleteChanged" Vocabulary="Vocabulary"></SearchBar>
